/* стили для тёмной темы */

.dark-theme .header {
    background-color: #303030;
}

.dark-theme .section_1,
.dark-theme .experience-section {
    background-color: var(--gray-light);
}

.dark-theme .skills span {
    background-color: #303030;
    color: var(--button-text);
}

.dark-theme .progress {
    background: rgba(255, 255, 255, 0.1);
}

.dark-theme .progress-bar {
    background: #1664EA;
}

.dark-theme .experience-card {
    background: var(--gray-light);
    border-color: rgba(255, 255, 255, 0.1);
}

.dark-theme .experience-card h2 {
    color: #1664EA;
}

.dark-theme input {
    border-bottom-color: rgba(255, 255, 255, 0.3);
    color: var(--text-color);
}

.dark-theme textarea {
    border-color: rgba(255, 255, 255, 0.3);
    color: var(--text-color);
}


.dark-theme small {
    color: rgba(255, 255, 255, 0.7);
}

.dark-theme .cards_card {
    background-color: var(--gray-light);
}

.dark-theme .cards_card::before {
    background: rgba(0, 0, 0, 0.5);
}

.dark-theme .cards_card .button {
    color: #1B1B1B;
}

.dark-theme footer .back-to-top {
    color: #1664EA;
}

.dark-theme .title {
    color: #FFFFFF40;
}

.dark-theme .section_portfolio .contacts-label {
    color: #FFFFFF40;
}

.dark-theme button .submit-btn {
    background-color: var(--button-bg);
}

.dark-theme button .submit-btn {
    background-color: var(--button-bg);
}

.dark-theme .icons-project a{
    background-color: var(--button-bg);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dark-theme .git-project-1 {
    background-color: var(--button-bg);
}

.dark-theme .icons a {
    background-color: var(--button-bg);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-theme .cards_item {
    border: 1px solid rgba(225, 225, 225, 1);
}

.dark-theme .experience_title-p {
    color: rgba(225, 225, 225, 1);
}